<!DOCTYPE html>
<html>
  <head>
    <title>BurningAirlinesRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
          <li><%= link_to 'Airplanes', airplanes_path %></li>
          <li><%= link_to 'Flights', flights_path %></li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Reservations', reservations_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
